affine
attrs
certifi
charset-normalizer
click
click-plugins
cligj
Fiona
geopandas
greenlet
idna
munch
numpy
packaging
pandas
pymongo
pyparsing
pyproj
pytz
rasterio
requests
rioxarray
Shapely
six
snuggs
SQLAlchemy
tomli
urllib3
xarray
xmltodict>=0.13.0
pystac_client
